.trans{transition:all 1s ease}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
/*    margin-top: 0;
    margin-bottom: 0;*/
    margin: 0 15px;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.main-container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
/*.marketing {
    margin: 40px 0;
}*/
.marketing{
    margin: 0 auto;
	text-align: center;
	vertical-align: top;
	height: 85px;
    /*width: inherit;*/
}
.marketing p + h4 {
    margin-top: 28px;
}

.main-container{
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
}

.main-container>div:not(.marketing){
    height: calc(100% - 130px);
    margin: 42px 0 0;
}

#directions:not(.split){
    display: none;
}

.main-container>div.split {
    width: 49%;
    position: relative;
    display: inline-block;
    min-height: 300px;
    padding: 0;
    overflow: auto;
}
/*#map-canvas{
    margin: 0;
    padding: 0;
    min-height: 300px;
    height: calc(100% - 141px);
}*/
html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.main-container:before{
    height: 50px;
}

.header {
    /*margin-bottom: 5px;*/
    top: 0;
    margin: 0 auto;
    height: 40px;
    position: fixed;
    padding: 0 15px;
    width: 100%;
    z-index: 999;
    background-color: rgba(255,255,255,0.9);
    overflow: hidden;
}

.hidden{
    display: none;
}

.loading
/*:after*/ {
    content: 'loading...';
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	color: #fff;
	background-color: #666;
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

ul.closest {
	display: table;
    margin: 0 auto;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	height: 100%;
}
ul.closest > li{
	display: table-cell;
	list-style-type: none;
	width: 20%;
	background-color: #efefef;
	border: 1px solid #fff;
	cursor: pointer;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	vertical-align: top;
}
ul.closest > li:hover{
    background-color: #ccc;
}


ul.closest > li:before {
	content: '';
	display: block;
	float: left;
	position: absolute;
	margin: 25px 5px;
	width: 30px;
	height: 40px;
	background: url(https://mts.googleapis.com/vt/icon/name=icons/spotlight/spotlight-waypoint-b.png) 0 0px no-repeat;
}

ul.closest>li * {
	display: block;
	width: 100%;
}

.show:after {
    content: '+'!important;
}
.showDirections:after, .showStores:after{
    content: 'x';
    border: 1px solid;
    text-align: center;
    border-radius: 12px;
    padding: 1px;
    height: 16px;
    width: 18px;
    line-height: 10px;
    display: inline-block;
    margin-left: 2px;
}

input.location{
    padding: 5px 0;
    margin: 2px 0 0 0;
}

.nav-pills li{
    height: 80%;
}
@media screen and (max-width: 600px){
	.main-container>div.split {
    	width: 100%;
	}
	#directions{
		margin: 0 auto;
		height: auto;
	}
	ul.closest > li{
		display: inline-block;
		width: 100%;
	}
}
 @media screen and (max-width: 400px){
	#map-canvas.split {
    	height: 50%;
    	max-height: 50%;
	}
} 
/* @media screen and (max-width: 400px) and (orientation: landscape){
	#map-canvas {
    	height: 80%;
    	max-height: calc(100% - 100px)
	}
} */
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .main-container {
        /*max-width: 730px;*/
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 5px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
